@charset "UTF-8";
p,
div,
span,
img,
a,
input,
ol,
ul,
li,
i,
em,
strong,
h1,
h2,
h3,
h4,
body,
del {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5c6066;
}

ol,
ul,
li {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

input {
  outline: 0 none;
  border: 0 none;
}

i,
em {
  font-style: normal;
}

strong,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

button {
  outline: 0 none;
  border: 0 none;
  background-color: #fff;
}

body {
  font: 0.32rem/100% "微软雅黑";
  background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.footer {
  margin-top: 0.8533333333rem;
  height: 2.5333333333rem;
  background-color: #efefef;
  border-top: 0.0266666667rem solid #c4c4c4;
  display: flex;
  flex-direction: column;
}
.footer .bar {
  height: 0.9066666667rem;
  border-bottom: 0.0266666667rem solid #c4c4c4;
  display: flex;
}
.footer .bar a {
  font-size: 0.3466666667rem;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .bar .login {
  width: 2.9866666667rem;
  border-right: 0.0266666667rem solid #c4c4c4;
}
.footer .bar .register {
  width: 2.96rem;
  border-right: 0.0266666667rem solid #c4c4c4;
}
.footer .bar .top {
  flex: 1;
}
.footer .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .content .title {
  font-size: 0.32rem;
  color: #666666;
  margin-bottom: 0.1866666667rem;
}
.footer .content .title .app {
  color: #ff0000;
}
.footer .content .web {
  font-size: 0.2666666667rem;
  color: #666666;
}

body {
  background-color: #f1f1f1;
}

.header {
  background-color: #f4483e;
  height: 1.1733333333rem;
  display: flex;
  align-items: center;
}
.header .back {
  flex-basis: 1.3333333333rem;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.header .title {
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5333333333rem;
}
.header .downloadApp {
  flex-basis: 1.3333333333rem;
}
.header .downloadApp img {
  width: 0.88rem;
}

.main .topBar {
  position: relative;
  border-bottom: 0.0266666667rem solid #dadada;
  height: 0.9066666667rem;
  display: flex;
  align-items: center;
}
.main .topBar .nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.48rem;
  height: 100%;
}
.main .topBar .nav span {
  height: 100%;
  line-height: 0.9066666667rem;
}
.main .topBar .nav i {
  margin-left: 0.1333333333rem;
}
.main .topBar .search {
  flex-basis: 1.2rem;
  height: 100%;
  border-right: 0.0266666667rem solid #dadada;
  border-left: 0.0266666667rem solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5333333333rem;
  color: #757575;
}
.main .topBar .list {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0.9066666667rem;
}
.main .topBar .list ul {
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 10px #e1e1e1;
}
.main .topBar .list ul li {
  height: 1.0666666667rem;
  border-bottom: 1px solid #ededed;
  padding: 0 0.2666666667rem;
  font-size: 0.48rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .topBar .list ul li i {
  color: #ff4400;
}
.main .product {
  padding: 0.2666666667rem 0.2133333333rem;
}
.main .product ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .product ul li {
  background-color: #fff;
  width: 4.64rem;
  height: 6.1333333333rem;
  margin-bottom: 0.2133333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.2666666667rem 0.2666666667rem;
}
.main .product ul li img {
  width: 3.7333333333rem;
  height: 3.7333333333rem;
}
.main .product ul li .productName {
  width: 100%;
  color: #333;
  line-height: 0.4rem;
  font-size: 0.32rem;
}
.main .product ul li .bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .product ul li .bar .price {
  color: #f86032;
  font-size: 0.48rem;
}
.main .product ul li .bar .link {
  width: 1.6533333333rem;
  height: 0.64rem;
  background-color: #ff9501;
  border-radius: 0.08rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/*# sourceMappingURL=coudan.css.map */
