//将px转换为rem
@function pr($p) {
    @return $p / 37.5+rem;
}

//初始化代码
p,
div,
span,
img,
a,
input,
ol,
ul,
li,
i,
em,
strong,
h1,
h2,
h3,
h4,
body,
del {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5c6066;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

input {
    outline: 0 none;
    border: 0 none;
}

i,
em {
    font-style: normal;
}

strong,
h1,
h2,
h3,
h4 {
    font-weight: normal;
}

button {
    outline: 0 none;
    border: 0 none;
    background-color: #fff;
}

body {
    font: pr(12)/100% '微软雅黑';
    background-color: #ffffff;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.footer {
    margin-top: pr(32);
    height: pr(95);
    background-color: #efefef;
    border-top: pr(1) solid #c4c4c4;
    display: flex;
    flex-direction: column;
    .bar {
        height: pr(34);
        border-bottom: pr(1) solid #c4c4c4;
        display: flex;
        a {
            font-size: pr(13);
            color: #757575;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .login {
            width: pr(112);
            border-right: pr(1) solid #c4c4c4;
        }
        .register {
            width: pr(111);
            border-right: pr(1) solid #c4c4c4;
        }
        .top {
            flex: 1;
        }
    }
    .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title {
            font-size: pr(12);
            color: #666666;
            margin-bottom: pr(7);
            .app {
                color: #ff0000;
            }
        }
        .web {
            font-size: pr(10);
            color: #666666;
        }
    }
}